log.txt
mushroom_detection_orientation_pose_Nathan_Integration.py

.idea/3DposeEstimation.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/workspace.xml

